#1 Table Extraction - Extract Tables from Websites

In [1]:
import pandas as pd

In [2]:
simpsons = pd.read_html('https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes_(seasons_1%E2%80%9320)')
len(simpsons) # number of tables

24

In [3]:
simpsons[1].head(3)

,No. overall,No. in season,Title,Directed by,Written by,Original air date,Prod. code,U.S. viewers (millions)
0,1,1,"""Simpsons Roasting on an Open Fire""",David Silverman,Mimi Pond,"December 17, 1989",7G08,26.7[47]
1,2,2,"""Bart the Genius""",David Silverman,Jon Vitti,"January 14, 1990",7G02,24.5[47]
2,3,3,"""Homer's Odyssey""",Wes Archer,Jay Kogen & Wallace Wolodarsky,"January 21, 1990",7G03,27.5[48]

#1 Table Extraction - Extract CSV Files from Websites

In [4]:
df_premier24 = pd.read_csv('https://football-data.co.uk/mmz4281/2324/E0.csv')
df_premier24.rename(columns = {'FTHG':'home_Ggals',
                               'FTAG':'away_goals'}, inplace = True)
df_premier24.head(3)

,Div,Date,Time,HomeTeam,AwayTeam,home_Ggals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.5,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.0,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.0,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91

#1 Table Extraction - Extract Tables from PDFs

In [5]:
import camelot

In [8]:
tables = camelot.read_pdf('foo.pdf', pages='1', flavor='stream')
print(tables)

<TableList n=1>

In [9]:
tables.export('foo.csv', f='csv', compress=True)
tables[0].to_csv('foo.csv')